html{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
body{
    padding: 0;
    margin:0;
    color:#222222;
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    text-align: left;
}
#textarea{
    text-align: left;
    font-size:12px;
    white-space: pre-wrap;
    background-color:white;
    vertical-align: top;
    width:100%;
    height: 240px;
    padding: 5px;
    box-sizing: border-box;
}
img{
    margin: 0 0 0 6px;
}
img:hover{
    background: orange;
}
#fileselect{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    width: 115px;
    vertical-align: top;
    height: 25px;
    margin-left: 3px;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    vertical-align: top;
    width: 145px;
    height: 21px;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    margin-left: 2px;
}
